name: PDF pandoc

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y pandoc \
          texlive-latex-base texlive-fonts-recommended \
          texlive-extra-utils texlive-latex-extra
    - name: make
      run: make
    - uses: actions/upload-artifact@v3
      with:
        name: pdf-file
        path: |
          *.pdf
